<section class="sec--footer">
    <div class="menu--link-footer">
        <ul class="ul--grabber footer--menu">
        <li class="menuu--linkList"><a href="/">Home</a></li>
        <li class="menuu--linkList"><a href="/our-creations">Our Creations</a></li>
        <li class="menuu--linkList"><a href="/services">Services</a></li>
        <li class="menuu--linkList"><a href="/contact-us">Contact Us</a></li>
        <li class="menuu--linkList"><a href="/about-us">About Us</a></li>
      </ul>
    </div>
    <div class="social--link-footer">
        <div class="container--social">
            <div class="social--subBlock">
                <p class="cont--social">Follow Us : </p>
                <div class="icon--social">
                    <a href="" class="social--href">
                        <div class="icon-instagram"></div>
                    </a>
                    <a href="" class="social--href">
                        <div class="icon-facebook"></div>
                    </a>
                    <a href="" class="social--href">
                        <div class="icon-linkedin"></div>
                    </a>
                    <a href="" class="social--href">
                        <div class="icon-pinterest"></div>
                    </a>
                    {{!-- <a href="" class="social--href">
                        <div class="icon-youtube"></div>
                    </a> --}}
                </div>
            </div>
            
        </div>
    </div>
    <div class="copyright--footer">
        <div class="sub-container">
            <p class="copyright--para">@ 2024 Copyright by Nigam Group of Technology.</p>
        </div>
    </div>
</section>