<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>
{{>header}}

<main id="PG-contact-us">
    <div class="contact-page-sf__template">
        <h2 class="page_title">Contact Us</h2>
        <div class="contact_page--wrapper">
            <div class="form--contact contact-block">
                <div class="above-richtext">
                    <h3>We’d Love to Hear from You!</h3><br>
                    <p>At Mysthelle, connecting with our community is what we’re all about! Whether you have a question, feedback, or simply want to share your thoughts, we’re here for you. Your voice matters!</p>
                </div>
                <form action="">
                    <label>Name</label><br>
                    <input type="text" name="username" id="contact-name" class="input-contact input-username-box"><br>
                    <label>Phone Number</label><br>
                    <input type="text" name="phonenumber" id="contact-phone" class="input-contact input-phone-box"><br>
                    <label>Email</label><br>
                    <input type="email" name="email"
                    id="contact-email" class="input-contact input-email-box"><br>
                    <label>Comments</label><br>
                    <textarea name="comment" id="contact-comments" class="input-contact input-comment-box" rows="10"></textarea><br>
                    <input type="submit" value="Submit Contact" class="input-submit-btn">
                </form>
            </div>
            <div class="reach-contact contact-block">
                <div class="custom-richtext">
                    <h3>How to Reach Us</h3>
                    <p>✉️ <b>Email Us:</b> <br>
                        For inquiries related to orders, partnerships, or customer support, drop us a line at info@dummy.com. Our dedicated team is eager to assist you and will respond promptly!</p><br>
                    <b>Stay Connected:</b><br><br>
                    <b>Instagram:</b> @ <br>
                    <b>Facebook:</b> @ <br><br>
                    <p>MYSTHELLE INTERNATIONAL LLP
                    7/1/4/2 First Floor, Lasudiya Mori, Dewas Naka,
                    Lasudia, Indore, Madhya Pradesh, India</p>
                </div>
                <div class="faq-contact">
                    <h3>Frequently Asked Questions:</h3><br>
                    <b>1. Looking for quick answers?</b><br>
                    <p>Check out our FAQ section for helpful information on orders, returns, sizing, and more!</p> <br>
                    <br>
                    <b>2. Stockists & Wholesale Enquiries:</b><br>
                    <p>Interested in bringing Mysthelle to your store? We’d love to collaborate! Please reach out to us at studio@mysthelle.com for details on partnership opportunities. Thank you for being a part of the Mysthelle journey! We can’t wait to connect with you!</p>
                </div>
            </div>
        </div>
    </div>
</main>


{{>footer}}
<script src="/script/main.js"></script>
</body>
</html>
