<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Creations</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>
{{>header}}

<main id="PG-our_creation">
    <div class="our-creation-page-sf__template">
        <h2 class="page_title">Our Creations</h2>
        <div class="img--flexElem">
            <div class="card-project_par">
                <div class="project_img">
                    <img src="https://i.pinimg.com/236x/18/a4/19/18a41922e46b9c7305f3f96410ec2aa1.jpg" alt="website_image" class="project_website_img">
                </div>
                <div class="content_project">
                    <div class="cont__sub_wrapper">
                        <h3 class="project--heading-title">WEBSITE IMAGE WITH CONTENT</h3>
                        <p class="website_link">https://www.testing.com/</p>
                        <a href="#"><button class="visit_project_btn">Visit Now</button></a>
                    </div>
                </div>
            </div>

             <div class="card-project_par">
                <div class="project_img">
                    <img src="https://i.pinimg.com/236x/18/a4/19/18a41922e46b9c7305f3f96410ec2aa1.jpg" alt="website_image" class="project_website_img">
                </div>
                <div class="content_project">
                    <div class="cont__sub_wrapper">
                        <h3 class="project--heading-title">WEBSITE IMAGE WITH CONTENT</h3>
                        <p class="website_link">https://www.testing.com/</p>
                        <a href="#"><button class="visit_project_btn">Visit Now</button></a>
                    </div>
                </div>
            </div>

             <div class="card-project_par">
                <div class="project_img">
                    <img src="https://i.pinimg.com/236x/18/a4/19/18a41922e46b9c7305f3f96410ec2aa1.jpg" alt="website_image" class="project_website_img">
                </div>
                <div class="content_project">
                    <div class="cont__sub_wrapper">
                        <h3 class="project--heading-title">WEBSITE IMAGE WITH CONTENT</h3>
                        <p class="website_link">https://www.testing.com/</p>
                        <a href="#"><button class="visit_project_btn">Visit Now</button></a>
                    </div>
                </div>
            </div>

             <div class="card-project_par">
                <div class="project_img">
                    <img src="https://i.pinimg.com/236x/18/a4/19/18a41922e46b9c7305f3f96410ec2aa1.jpg" alt="website_image" class="project_website_img">
                </div>
                <div class="content_project">
                    <div class="cont__sub_wrapper">
                        <h3 class="project--heading-title">WEBSITE IMAGE WITH CONTENT</h3>
                        <p class="website_link">https://www.testing.com/</p>
                        <a href="#"><button class="visit_project_btn">Visit Now</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{{>footer}}
<script src="/script/main.js"></script>
</body>
</html>