<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <title>EXPRESS</title>

</head>
<body>
{{>header}}
<section class="banner--grabber">
    <div class="sub--bannerGrab">
      <div class="text--subBTN other--work"><span class="big">We</span> Are<br> <span class="otherBig">Developer</span></div>
      <div class="image--grabber"></div>
    </div>
    <div id="elips-design" class="container">
<div class="ellipse-1">
  <svg viewBox="0 0 240 240">
    <path d="M 120 5 A 70 115 0 1 1 120 237 A 1 1.7 0 1 1 120 5" fill="none" stroke="#f0f0f0" stroke-width="2" opacity="0.2" />
  </svg>
  <div class="circle ellipse-1-motion"></div>
</div>
<div class="ellipse-2">
  <svg viewBox="0 0 240 240">
    <path d="M 120 5 A 70 115 0 1 1 120 237 A 1 1.7 0 1 1 120 5" fill="none" stroke="#ff5c5c" stroke-width="2" opacity="0.2" />
  </svg>
  <div class="circle ellipse-2-motion"></div>
</div>
<div class="ellipse-3">
  <svg viewBox="0 0 240 240">
    <path d="M 120 5 A 70 115 0 1 1 120 237 A 1 1.7 0 1 1 120 5" fill="none" stroke="#7590ff" stroke-width="2" opacity="0.2" />
  </svg>
  <div class="circle ellipse-3-motion"></div>
</div>
</div>
  </section>
  <section class="custom--aboutus">
    <div class="sub--about">
      <div class="heading">The Minds Behind the Code</div>
      <div class="para--cont">Welcome to our web development portfolio! We are a team of passionate developers dedicated to crafting beautiful, functional, and user-friendly websites. With expertise in HTML, CSS, JavaScript, and a growing skill set in MySQL, PHP, Node.js, and React.js, we turn your digital visions into reality. Let's collaborate and create something amazing together!</div>
      <div class="button"><button>Learn More</button></div>
    </div>
  </section>
  <section class="about--developers">
    <div class="sub-dev-wrapper">
      <div class="up-sideDown">
        <div class="akshat--block upside-down">
          <div class="name-block">
            <h2 class="name--w">Akshat Nigam <span class="sub-heading">Web Developer</span> <span class="content">I build pixel-perfect, engaging, and accessible digital experiences.</span></h2>
          </div>
          <div class="specialization-block">
            <div class="special">Specialised In: <br />
              <ul class="special--value">
                <li class="specialised--value">HTML5 & CSS3</li>
                <li class="specialised--value">Tailwind CSS</li>
                <li class="specialised--value">JavaScript ES6</li>
                <li class="specialised--value">MySql</li>
                <li class="specialised--value">PHP</li>
                <li class="specialised--value">Python</li>
                <li class="specialised--value">Flutter</li>
                <li class="specialised--value">Django</li>
                <li class="specialised--value">Android Development</li>
                <li class="specialised--value">API Development</li>
            </ul>
            </div>
          </div>
        </div>
        <div class="adarsh--block upside-down">
        <div class="name-block">
          <h2 class="name--w">Adarsh Nigam <span class="sub-heading">Web Developer</span><span class="content">I build pixel-perfect, engaging, and accessible digital experiences.</span></h2>
        </div>
        <div class="specialization-block">
            <div class="special">Specialised In: <br />
              <ul class="special--value">
                <li class="specialised--value">HTML5 & CSS3</li>
                <li class="specialised--value">Tailwind CSS</li>
                <li class="specialised--value">JavaScript ES6</li>
                <li class="specialised--value">MySql</li>
                <li class="specialised--value">PHP</li>
                <li class="specialised--value">React JS</li>
                <li class="specialised--value">Node JS</li>
                <li class="specialised--value">Mongo DB</li>
                <li class="specialised--value">API Development</li>
            </ul></div>
        </div>
        </div>
        <div class="bhakti--block upside-down">
        <div class="name-block">
          <h2 class="name--w">Bhakti Rulhe<span class="sub-heading">Web Developer</span><span class="content">I build pixel-perfect, engaging, and accessible digital experiences.</span></h2>
        </div>
        <div class="specialization-block">
            <div class="special">Specialised In: <br />
              <ul class="special--value">
                <li class="specialised--value">HTML5 & CSS3</li>
                <li class="specialised--value">Bootstrap & Tailwind CSS</li>
                <li class="specialised--value">JavaScript ES6</li>
                <li class="specialised--value">SQL</li>
                <li class="specialised--value">Machine Learning</li>
                <li class="specialised--value">Python</li>
                <li class="specialised--value">Django</li>
                <li class="specialised--value">MS Suits</li>
                <li class="specialised--value">API Development</li>
            </ul></div>
        </div>
        </div>
      </div>
    </div>
  </section>
  <section id="sect-main">
    <div class="head">Testament to Belief</div>
    <div class="pages flex-grabber">
        <div class="para">
            <div class="img-para1">
                <img src="coding.png" alt="image" width="100px" class="img--custom">
            </div>
            <div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus nesciunt enim quod temporibus commodi. Voluptate consequuntur hic dolores esse possimus. 
            </div>
            <div class="button--parent">
                <button class="service--btn">Read More</button>
            </div>
        </div>
        <div class="para">
            <div class="img-para1">
                <img src="software.png" alt="image" width="100px" class="img--custom">
            </div>
            <div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus nesciunt enim quod temporibus commodi. Voluptate consequuntur hic dolores esse possimus.
            </div>
             <div class="button--parent">
                <button class="service--btn">Read More</button>
            </div>
        </div>
        <div class="para">
            <div class="img-para1">
                <img src="hosting.png" alt="image" width="100px" class="img--custom">
            </div>
            <div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus nesciunt enim quod temporibus commodi. Voluptate consequuntur hic dolores esse possimus.
            </div>
             <div class="button--parent">
                <button class="service--btn">Read More</button>
            </div>
        </div>
    </div>
</section>
<section class="sec--expretise">
  <div class="sece-heading">
    <h2>Our Expertise</h2>
  </div>
  <div class="flex--box-exp">
    <div class="left--block--exp">
      <div class="mea--bar">
        <p class="exp--text">Custom Web Development</p>
        <div class="bar--rel">
          <div class="bar--abs" style="width: 80%;"></div>
        </div>
      </div>
      <div class="mea--bar">
        <p class="exp--text">Responsive Design</p>
        <div class="bar--rel">
          <div class="bar--abs" style="width: 73%;"></div>
        </div>
      </div>
      <div class="mea--bar">
        <p class="exp--text">E-commerce Solutions</p>
        <div class="bar--rel">
          <div class="bar--abs" style="width: 64%;"></div>
        </div>
      </div>
      <div class="mea--bar">
        <p class="exp--text">Content Management Systems (CMS)</p>
        <div class="bar--rel">
          <div class="bar--abs" style="width: 90%;"></div>
        </div>
      </div>
    </div>
    <div class="right--block--exp">
      <div class="mea--bar">
        <p class="exp--text">Search Engine Optimization (SEO)</p>
        <div class="bar--rel">
          <div class="bar--abs" style="width: 58%;"></div>
        </div>
      </div>
      <div class="mea--bar">
        <p class="exp--text">Web Application Development</p>
        <div class="bar--rel">
          <div class="bar--abs" style="width: 75%;"></div>
        </div>
      </div>
      <div class="mea--bar">
        <p class="exp--text">API Development and Integration</p>
        <div class="bar--rel">
          <div class="bar--abs" style="width: 93%;"></div>
        </div>
      </div>
      <div class="mea--bar">
        <p class="exp--text">Maintenance and Support</p>
        <div class="bar--rel">
          <div class="bar--abs" style="width: 79%;"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sec--image-w-text">
  <div class="container--imwt">
    <div class="image--box">
      <img src="portfolio.png" alt="" class="img--brand">
    </div>
    <div class="imwt--content">
      <p class="imwt-para-cont"><span class="bigger">Nigam</span> Group of <br> <span class="bigger">Technology</span></p>
    </div>
  </div>
</section>
<section class="sec--toolkit">
<div id="main">
    <div class="heading">
        <h2>Toolkit</h2> <br>
    </div>
    <div class="icons flex--new">
        <div class="icon-grabber">
            <img src="/toolkit/htmlnew.png" alt="html--logo" width="40px">
            <div class="text">HTML</div>
        </div>
        <div class="icon-grabber">
            <img src="/toolkit/css.png" alt="css--logo" width="40px">
            <div class="text">CSS</div>
        </div>
        <div class="icon-grabber">
            <img src="/toolkit/js.png" alt="js--logo" width="40px">
            <div class="text">JS</div>
        </div>
        <div class="icon-grabber">
            <img src="/toolkit/mysql.png" alt="mysql--logo" width="40px">
            <div class="text">MySql</div>
        </div>
        <div class="icon-grabber">
            <img src="/toolkit/php.png" alt="php--logo" width="55px">
            <div class="text">PHP</div>
        </div>
        <div class="icon-grabber">
            <img src="/toolkit/python.png" alt="python--logo" width="40px">
            <div class="text">Python</div>
        </div>
        <div class="icon-grabber">
            <img src="/toolkit/react.png" alt="react--logo" width="40px">
            <div class="text">React JS</div>
        </div>
        <div class="icon-grabber">
            <img src="/toolkit/tailwind.png" alt="tailwind--logo" width="40px">
            <div class="text">Tailwind CSS</div>
        </div>
        <div class="icon-grabber">
            <img src="/toolkit/flutter.png" alt="flutter--logo" width="40px">
            <div class="text">Flutter</div>
        </div>
        <div class="icon-grabber">
            <img src="/toolkit/figma.png" alt="figma--logo" width="40px">
            <div class="text">Figma</div>
        </div>
        <div class="icon-grabber">
            <img src="/toolkit/typescript.png" alt="typescript--logo" width="40px">
            <div class="text">Typescript</div>
        </div>
        <div class="icon-grabber">
            <img src="/toolkit/node.png" alt="node--logo" width="40px">
            <div class="text">Node js</div>
        </div>
    </div>
</div>
</section>
{{>footer}}
<script src="/script/main.js"></script>
</body>
</html> 