<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>
{{>header}}

<main id="PG-services">
    <div class="services-page-sf__template">
        <h2 class="page_title">Our Services</h2>
        <div class="services--card">

            <div class="cardElem">
                <img src="/toolkit/services/web-dev.png" width="20%" alt="our-services" class="service_icon">
                <span class="service_title">Web Development</span>
            </div>
            
            <div class="cardElem">
                <img src="/toolkit/services/product-dev.png" alt="our-services" class="service_icon" width="20%"/>
                <span class="service_title">Product Development</span>
            </div>

            <div class="cardElem">
                <img src="/toolkit/services/android-dev.png" alt="our-services" class="service_icon" width="20%" />
                <span class="service_title">Android Development</span>
            </div>

            <div class="cardElem">
                <img src="/toolkit/services/shopify-dev.png" alt="our-services" class="service_icon" width="20%" />
                <span class="service_title">Shopify Development</span>
            </div>

            <div class="cardElem">
                <img src="/toolkit/services/management-soft.png" alt="our-services" class="service_icon" width="20%" />
                <span class="service_title">Management Softwares</span>
            </div>

            <div class="cardElem">
                <img src="/toolkit/services/api-dev.png" alt="our-services" class="service_icon" width="20%" />
                <span class="service_title">API Development</span>
            </div>

        </div>
    </div>
</main>


{{>footer}}
<script src="/script/main.js"></script>
</body>
</html>